Chat
<form>
  <input id="user_token" type="text" style="display: none;" readonly value="<%= @user_token %>">
  <input id="send" type="text" placeholder="Send message...">
</form>
<div id="msgs"></div>
