Chat
<%= @user_email %>
<form>
  <input id="user_token" type="text" style="display: none;" readonly value="<%= Phoenix.Token.sign(VoiceChatWeb.Endpoint, "user_email", @user_email) %>">
  <input id="message" type="text" placeholder="Send message...">
</form>
<div id="msgs"></div>
